body {
  background-color: oldlace;
}
h1 {
  color: midnightblue;
  text-align: center;
}
#para1 {
	text-align: center;
}
h2 {
	color: midnightblue;
}
p {
  color: mediumvioletred;
}
ul {color: mediumvioletred;
}